body {
	background: #0f2147;
	color: #ffffff;
}
.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}
.image-container{
	margin-top: 60px;
margin-bottom: 60px;
	width: 350px;
	transition: transform 0.2s;
}
.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}
#movie-p{
	border-radius: 15px;
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 90%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
	
}
span {
	padding-right: 5px;
}