body {
	background: #0f2147;
	color: #ffffff;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.App {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}



.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
	 


}
.image-container{
	margin-top: 60px;
margin-bottom: 60px;
	width: 350px;

	transition: transform 0.2s;
}
.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}
#movie-p{
	border-radius: 15px;
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width:91%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
	
}
span {
	padding-right: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #08142e; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}